
.idea/workspace.xml

.idea/detanokagaku.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

SalesDashboard-5-24-16.csv

sales.py

stories.csv

.idea/dictionaries/mikedavis.xml

lc/LCDataDictionary.xlsx

*.csv

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml
